# Dependencies
node_modules
package-lock.json
yarn.lock

# Build outputs
dist
build
releases
*.min.js

# Coverage
coverage

# Logs
*.log

# Temporary files
*.tmp
*.temp

# VS Code
.vscode

# IDE
.idea

# OS
.DS_Store
Thumbs.db

# Installer
installer-ui/node_modules
installer-ui/dist
